#catalog {
  padding: 24px;
  text-align: left;
}

.catalog-header {
  margin-bottom: 15px;
}

.catalog-header h1 {
  margin: 0 0 8px;
  font-size: 40px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 10px 
}

@media (max-width: 1024px) {
  #catalog {
    padding: 24px 20px;
  }
}